@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9dba8;
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    font-family: 'Merienda', cursive;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-img {
    border: none;
    padding: 0;
    margin: 0;
    max-height: 4rem;
    object-fit: contain; 
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.cart-section {
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar li {
        margin: 0.5rem 0;
    }
}